[2016-06-09 10:33] shripalsoni04 opened #1 "Login with Google always returns code 1"
First of all, 👍  for this useful plugin.

This plugin is working perfectly fine for facebook. But, when I configured it for login with google, it always returns code 1 and no other information.

Sample Code:

[code]

I have also tried to run demo application with my googleServerClientId, but there also I am getting authToken as blank and result.code as 1.

It will be great if you can help me out f

[2016-06-09 11:29] mkloubert commented on #1
If you do not need the server client ID, you should not set the `googe.serverClientId` property.

Otherwise...

This value is the same as the first argument for [requestServerAuthCode](https://developers.google.com/android/reference/com/google/android/gms/auth/api/signin/GoogleSignInOptions.Builder.html#public-methods) method of [GoogleSignInOptions.Builder](GoogleSignInOptions.Builder) class.

Th

[2016-06-09 15:49] shripalsoni04 commented on #1
I got this thing working now.

There are two things to take in consideration:

1. In serverClientId, we need to pass **Web Application** type client id, which you can get it from https://console.developers.google.com/apis/credentials.

2. There are two tokens which google signIn api can provide.

-  **idToken**: This is a jwt token which contains all the basic information of the user and we can se

[2016-06-09 16:55] mkloubert commented on #1
Great! 👍

I applied your changes, but only made `isRequestAuthCode` property optional and set its default value to `(true)` as you can here: https://github.com/mkloubert/nativescript-social-login/commit/4b1946775da585bfea4d01c6dadfe2e58b0278bc

I made this because you can work without the `serverAuthCode` property and fetch the profile information only. In this case you do not need to set the `isR

[2016-06-09 19:15] shripalsoni04 commented on #1
Thanks for integrating the changes very quickly. 👍

I think we should keep default value of `isRequestAuthCode` as `false` instead of `true`. Because,  if we keep `isRequestAuthCode` to true, its value will be set in `authCode`, but in other integrations like facebook or twitter, we are setting token in `authToken` property. So when user has multiple social login integrations, they need to handle

[2016-06-10 05:43] mkloubert commented on #1
I changed the behavior in 1.3.1.

I also think that this is the better choise.

[2016-06-10 06:37] mkloubert commented on #1
I think you have generated a `google-services.json` for your app.

If so: How can you include this into a NativeScript project?

[2016-06-10 07:14] shripalsoni04 commented on #1
Thanks for implementing the change.

I am not using `google-services.json` as for signIn only functionality, it is not needed.

I am not sure, but I think dropping that `google-services.json` file in `app/App_Resources/Android` folder should work.

[2016-06-10 08:00] mkloubert commented on #1
I don't get this thing to work.

Can you explain step by step what you did?

I generated the credentials for my app:

![nativescript_sli_ss_1](https://cloud.githubusercontent.com/assets/4951215/15957690/fea6f422-2ef0-11e6-86ab-e85a90566968.jpg)

I put my SHA-1 fingerprint (DEBUG) and package name here:

![nativescript_sli_ss_2](https://cloud.githubusercontent.com/assets/4951215/15957689/fea4d5de-2

[2016-06-10 08:14] shripalsoni04 commented on #1
You need to set **webanwendung** (Web Application) type clientID and **not Android** type clientID in `serverClientId` field.

[2016-06-14 09:35] harsh4once commented on #1
Hi,
Thanks for the plug-in, but even though after following all the steps mentioned above, still facing issue for google, it always returns result code as 1. Facebook login is working fine.

[2016-06-15 14:50] mkloubert commented on #1
@harsh4once I currently have the same problem. I can load profile information without using the server/client ID, but the time I start defining my client ID as described above, I also get the result code 1.

Seems to be that something is still missing when building and deploying the apps.

I hope that @shripalsoni04 can help.

[2016-06-15 19:53] shripalsoni04 commented on #1
Well, I had only one issue, I was using **Android** type client id instead of **Web Application** type client id.

Check below screenshot:
![image](https://cloud.githubusercontent.com/assets/4411891/16095066/a7545a10-3360-11e6-9c2c-28b60d65f751.png)

@harsh4once  @mkloubert As per the screenshot above, can you please confirm that you are using **Web Application** type clientId and **not Android**

[2016-06-16 12:08] harsh4once commented on #1
Hi shripalsoni04,

I per your input, I only used the web application type client id instead of android type, but still getting same issue. Your help is really appreciated. Thanks

[2016-06-18 03:49] itelo opened #2 "angular2 support?"

[2016-06-18 21:17] mkloubert commented on #2
@itelo What so you mean with "Angular" support?

Can you give an example?

[2016-08-04 07:57] simkepal opened #3 "Linkedin login"
Hey!

Do you plan to implement the linkedin oauth option?

Thank you!

[2016-09-04 15:39] djannot opened #4 "Do you plan to support Twitter login soon ?"

[2016-10-19 09:20] chanmyaethu-mn opened #5 "Request for IOS"
Hi mkloubert,
Do you have any idea for ios?
I really would like to use your plugin in ios.
Thank
Chan Myae Thu

[2016-12-12 13:23] zoeitsolutions commented on #5
+ 1

[2016-12-12 13:25] zoeitsolutions commented on #2
If you could rewrite the code for Typescript and Angular 2.

[2017-01-12 21:51] votiakov commented on #5
Hello!

I want to write the ios part for Google and Facebook login. Then we could add Twitter login together.

@mkloubert please let me know if you already started implementing ios functionality.

[2017-01-12 22:02] votiakov commented on #2
@itelo @zoeitsolutions You can use it with TypeScript and Angular 2 as it is. What problem do you have?

[2017-01-13 06:23] zoeitsolutions commented on #2
@votiakov I have not tried it myself, I was trying to explain what he meant - suggest closing this.

[2017-01-13 06:24] zoeitsolutions commented on #5
@votiakov this would be great. I definitely think a lot of nativescript devs are wanting to use a single social plugin for both platforms.

I will gladly test from my side and provide feedback.

[2017-01-13 22:19] votiakov commented on #5
Hello!

I have good news - facebook login now works on ios.

![screen shot 2017-01-13 at 23 13 06](https://cloud.githubusercontent.com/assets/6445101/21947660/87468efa-d9e6-11e6-8433-7b083a84a797.png)
![screen shot 2017-01-13 at 23 12 53](https://cloud.githubusercontent.com/assets/6445101/21947659/873a33da-d9e6-11e6-8bee-cb2a9d8d1818.png)

I will continue with google tomorrow or on Sunday.

@mklou

[2017-01-14 10:01] mkloubert commented on #5
@votiakov Great! :-)

Of course, lets starts discussing...

[2017-01-14 11:02] votiakov commented on #5
Oh hey!

Most of all I am interested in making this easy to configure and use for developers. I personally spent 2 full days implementing facebook and google login for my app - for both platforms, and this was a nightmare )

Basically there is a problem with tns platform declarations on ios - described in this [issue](https://github.com/NativeScript/NativeScript/issues/2724).

Using facebook login

[2017-01-14 13:13] mkloubert commented on #5
@votiakov You should first finish implementation and simply add the link to the issue.

But I don't think, that it is currently nessessary to add the declaration files, because the platform specific files of the module are written in plain JavaScript, what makes it in my opinion much easier to develop.

The only needed (and for developers interesting) TypeScript stuff is defined in the [index.ts](

[2017-02-01 06:49] zoeitsolutions commented on #5
@votiakov how far are you with the implementation for iOS?

[2017-02-02 09:26] votiakov commented on #5
Hi @zoeitsolutions !

Thanks for reminding me. It is close to finish. Then it will need some refactor.
I will sit down and finish it tomorrow night.

[2017-02-02 13:10] zoeitsolutions commented on #5
Hi @votiakov ,

Thank you very much for your efforts so far, good luck!

[2017-02-02 18:28] mkloubert commented on #5
@votiakov

Very good news! :-)

Please only do the changes in the [andrii_dev branch](https://github.com/votiakov/nativescript-social-login/tree/andrii_dev) and make a pull request to my repository and I do the work with the merging and the releasing to the official [npm package](https://www.npmjs.com/package/nativescript-social-login).

Have you got an account at [npmjs.com](https://www.npmjs.com

[2017-02-04 04:21] votiakov commented on #5
Hello folks!

I just finished with ios support for today.
Both facebook and google now work, but I still have to fight with google response codes.
You can try it from my [branch](https://github.com/votiakov/nativescript-social-login/tree/andrii_dev), I will refactor this mess and update readme later. I need to sleep now ;)

Yes @mkloubert, my npm profile is https://www.npmjs.com/~votiakov

[2017-02-04 14:07] mkloubert commented on #5
@votiakov

What I forgot to ask: Do you have an account on Twitter?

[2017-02-04 17:17] votiakov commented on #5
Not yet, but I could create one if needed

[2017-02-04 17:39] mkloubert commented on #5
@votiakov

This is only for the thing after I released the new version.

I will create a new tweet for that, so [NativeScript](https://twitter.com/NativeScript) and other developers get noticed.

So I would link to your Twitter account, so anyone will know that you did the great work ;-)

[2017-02-05 16:44] votiakov commented on #5
Oh that's great thanks )
I have to update the readme for google now. Unfortunately there is a lot of configuration on iOS.
Could you please checkout my branch and test things out? This question is for everyone who reads this thread!

[2017-02-05 17:06] mkloubert commented on #5
@votiakov

Of course! ;-)

[2017-02-05 18:21] votiakov commented on #5
It is ready for a PR. Hopefully I did not forget anything

[2017-02-05 21:45] mkloubert commented on #5
**Version 1.5.0 is now officially released!**

[2017-02-05 23:32] #2 closed

[2017-02-06 11:35] votiakov commented on #1
Hi!

Is this still an issue?
I can check this today if you still have this problem

[2017-02-06 18:33] votiakov commented on #4
I will dive into it and see if I can implement it soon

[2017-02-10 11:59] danieloprado opened #7 "Call login after cancel"
After the user cancels the login and try to login again nothing happen.

Log after call loginGoogle again:
[code]

Log after call loginFacebook again:
[code]

[2017-02-10 13:07] danieloprado commented on #1
Same problem as @harsh4once

[2017-02-10 14:29] votiakov commented on #7
Hi! Does it happen on iOS as well or only android?

[2017-02-10 14:38] danieloprado commented on #7
I can't test on iOS, just android :confused:

[2017-02-24 06:50] dgomezs commented on #7
Same problem on my side. Only tested on Android so far I will test on IOS soon

[2017-02-28 05:31] gowthamcodingmart opened #9 "Help wanted"
Can you please provide an example for using this plugin in Nativescript+Angular 2. I don't know how to implement the code in Angular 2. It always showing me errors.

[2017-03-01 09:17] MogauGeeky opened #10 "How to get facebook login working with angular?"
Hi guys

I am using the plugin with angular way but I always get the following message in the facebook login pop up
"You are not logged in: You are not logged in. Please log in and try again."
![image](https://cloud.githubusercontent.com/assets/10864511/23453299/8568ea0c-fe70-11e6-871f-8dde9a35bf3e.png)

I have no idea how to fix this

[2017-03-02 09:18] votiakov commented on #10
Hi @MogauGeeky !

Looks like your facebook app is not configured properly or wrong app id is given.

By the way on which platforms does it happen?

[2017-03-02 09:20] votiakov commented on #9
Hello @gowthamcodingmart !

 I use this plugin with angular. What problems do you have?

[2017-03-02 09:26] votiakov commented on #7
Hi @dgomezs ! Would be great if you test it on iOS!

I looked at the android implementation and could not find a problem easily. It needs some deep analysis. I promise I will look into this on friday evening.

If I don't answer on Saturday, please write another comment here to remind me 😆

[2017-03-02 11:37] gowthamcodingmart commented on #9
This plug-in is not working fine for me. `const errorRef = new interop.Reference();` This always gives error to me. How can i solve this error. Can u please provide a demo code.

[2017-03-02 11:48] gowthamcodingmart commented on #9
Please provide a working code for Social Login using G+. It would be very helpful.
Thanks in advance.

[2017-03-02 18:39] danieloprado commented on #1
Any update?

[2017-03-03 07:13] dgomezs commented on #10
I did a quick example today on how the plugin works
https://github.com/dgomezs/facebook-login

as @votiakov  mentioned you need to configure your app on Facebook providing the parameters. I put a screenshot in the repo with the config.

Let me know if you have any questions

[2017-03-03 07:22] dgomezs opened #11 "Navigation issue after successful authentication"
I'm experiencing a navigation problem after I log in with Facebook in my app. I created a simple POC to reproduce the issue

https://github.com/dgomezs/facebook-login/

After login with facebook I navigate to "/nav". The first time the app gets executed the navigation does not work properly and the tabs are not loaded. Instead a page with the navigation bar appears.

Any idea why this might happen

[2017-03-03 09:05] dgomezs commented on #7
I have been investigating this today and it seems a problem with the activity that is assigned. If you assign the activity in the loginWithFacebook method

        _activity = Application.android.foregroundActivity || Application.android.startActivity;
It seems to work fine. I can cancel and restart the process.

[2017-03-03 13:30] dgomezs commented on #11
Solved the issue launching a new activity. I have added it to my POC
https://github.com/dgomezs/facebook-login

[2017-03-03 13:30] #11 closed

[2017-03-07 15:36] pamontep commented on #1
I also got on this issue. T^T

[2017-03-21 23:02] danieloprado commented on #7
Any updates or a workaround?

[2017-03-21 23:03] danieloprado commented on #1
Keep trying... 😢

[2017-03-22 12:24] danieloprado commented on #7
I have been initialize the social login in the wrong place :smile:
In a ngApp the social login must be initialize on the ngOnInit:

[code]

[2017-03-24 14:01] danieloprado commented on #1
I did it!

When you run: **tns run build**, tns sign the app with the **~/.android/debug.keystore**
You need to add the SHA1 of this key in you google console developer:

![screenshot from 2017-03-24 10-56-11](https://cloud.githubusercontent.com/assets/7683575/24297210/b0c795e6-1080-11e7-862c-090d3062ee9f.png)

Create a Client Android for Debug:
![screenshot from 2017-03-24 11-00-43](https://cloud

[2017-03-27 19:52] ezequielzacca opened #12 "DexException: Multiple dex files"
I get the following error after adding the plugin to my {N} project

:buildMetadata UP-TO-DATE

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':transformClassesWithDexForF0F1F2F3F4F5F6F7F8Debug'.

I searched for the error and it seems related to facebook sdk having dependency with bolt

see stackoverflow [http://stackoverflow.com/questions/23796404/could-no

[2017-03-28 16:59] jorgerb79 commented on #1
Hi danieloprado, I followed your steps above and I'm still getting code 1 with empty information. Did you configure something else in Google Developer Console ?

[2017-03-31 16:03] arcuri1 commented on #12
I don't know if it could help you, but I had a similar issue with the google play service defined with different version at multiple location on my project.
Check if another plugin on your project already define the facebook SDK as dependencie with a different version.

[2017-04-05 20:04] MogauGeeky commented on #10
Hi guys

Thanks for the help, much appreciated
@dgomezs thanks for the repo I managed to solve my issue by going through your example.

Sorry for the delayed reply... I didn't have the time to look into this project till now

Cheers!

[2017-04-05 20:04] #10 closed

[2017-04-10 09:57] mrubkey commented on #1
@jorgerb79
Important thing!
1. Your emulator need install Google Play Services. If no return code 1.
2. To get Auth Token
Set Web Application Client ID
google: {
                serverClientId: "<YOU_CLIENT_ID>.apps.googleusercontent.com"
            }

[2017-04-10 13:31] maniacube commented on #1
Same issue for me only on Android. And I have tried all the steps above but still getting same issue

[2017-04-11 04:05] mrubkey commented on #1
@maniacube check my comment with step 2

[2017-04-11 05:02] maniacube commented on #1
@mrubkey i followed your comment and Android OAuth Client created in Google Developer Console but still getting same issue

[2017-04-13 11:36] junzou1992 commented on #1
@maniacube , if you want to run on android, do a tns run android with --release --keyStorePath

[2017-04-16 17:32] raphaelratuczne opened #13 "does not work whith geolocation"
In my project i work with angular and the social login plugin is not compatible with geolocation. On build a project for android give me an error with the message: "Multiple dex files define Lcom/google/android/gms/auth/api/signin/internal/zzf"
So in app.gradle i substitute the version of play-services-auth from 8.4.0 to + and the project finally builds.
In this case, when i try make login with fa

[2017-04-17 13:31] #9 closed

[2017-04-30 21:28] vascokk commented on #1
Hi guys,
I'm new to NS (and the JS-based front-end development as a whole). Anyway, I cannot make Google authentication work with this plugin. Here is what I've done:
1. Created Android client ID
2. added the SHA1 fingerprint
3. Set the package name according to the nativescript.id in package.json in my project root
4. SocialLogin init:
[code]
5. Google Play services is installed:
[code]
returns 0

[2017-05-01 06:36] junzou1992 commented on #1
@vascokk you have to use web application client ID instead of android client ID for android.

[2017-05-12 19:02] bradmartin commented on #1
@danieloprado - thank you for your comment. I struggled with this for a few hours.  🍻 to you 😄

[2017-05-12 19:17] danieloprado commented on #1
@vascokk tns ignores **--key-store-path** without **--release**

[2017-05-12 19:28] bradmartin commented on #1
Added detailed instructions which should help several who can't get this working with debug builds: https://github.com/mkloubert/nativescript-social-login/pull/14

[2017-05-13 20:59] mkloubert commented on #1
@bradmartin

**Thank you very much! I released the new README with version 1.5.3.**

[2017-05-22 18:46] prolink007 commented on #4
Also looking for twitter support! =D

[2017-06-11 10:13] bigmeech opened #18 "TypeError: _activity.runOnUiThread is not a function"
Hi.

I'm getting `_activity.runOnUiThread is not a function` when i call loginWithFacebook for android.

I'm build with nativescript version 3.0.3. Is plugin compatible with the latest version of nativescript?

[2017-06-11 10:21] bigmeech commented on #18
Fixed!
i wasnt passing the correct object containing the activity object to the init function.

Closing...

[2017-06-11 10:21] #18 closed

[2017-07-15 15:59] AmineMx commented on #1
is any one find a solution of this problems ?

[2017-08-20 17:18] Kevvix commented on #1
Hi,

I have the same issue.
The FB part works but not the Google one.
I readded and followed carefully all steps and I still got "Code : 1" and all others values in the result are undefined.

I work on Android, I don't have IOS system.
Would you like I publish on GitHub my code?

Thank you

[2017-08-26 10:30] jogboms opened #20 "Auto logout of facebook session"
I noticed i had to login everytime i needed to use the Facebook provider, so I delved into the codes and notice you actually called a `logOut` everytime the app initiallizes.
I don't why you'd do this but i don't quite buy into the idea.

https://github.com/mkloubert/nativescript-social-login/blob/b364e353d0150b0461dbd86a0003741c2d23af0b/plugin/SocialLogin.android.js#L185

https://github.com/mklou

[2017-08-26 13:02] bradmartin commented on #20
Good thinking the logout for the provider should be a public method the
developer can handle when needed. Would you like to submit a PR with this
functionality?

On Sat, Aug 26, 2017, 5:30 AM Jeremiah Ogbomo <notifications@github.com>
wrote:

[2017-08-26 13:09] jogboms commented on #20
Yeah @bradmartin. I would do that.

[2017-08-26 13:33] jogboms commented on #20
@bradmartin & @mkloubert Tweaks can be found here #21

[2017-08-26 13:33] #20 closed

[2017-09-03 04:39] kvindasAB opened #22 "Error: The <activity> element must be a direct child of the <application> element [WrongManifestParent]"
The build process copies the AndroidManifest.xml inside the project platform and breaks the build.
As can see in the android manifest provided by the project, the activity is not within an application, also the content of this manifest is exactly the same as the one requested to add in the main AndroidManifest.xml on the documentation.

Full error message is:

[code]

[2017-10-03 10:42] fmsaraujo commented on #22
@kvindasAB, I was having the same issue, but only when bundling with webpack. This was caused by the bundled project having duplicate references to 'com.facebook.FacebookActivity' because I added this activity to my AndroidManifest.xml and it was also present on the plugin's manifest file. Try removing one of the references.

[2017-10-19 13:01] jogboms opened #23 "Can we have a newer version of Facebook's SDK?"
I have experienced some issues and conflicts using other facebook-owned libraries. Was wondering if we could update `com.facebook.android:facebook-android-sdk`

[2017-10-20 13:09] jogboms commented on #12
@mkloubert

[2017-11-04 11:47] #22 closed

[2017-11-05 06:14] jogboms commented on #23
@mkloubert I'm working on improving the facebook dependency. I noticed that there wasn't any need for some configurations stated in the README

[2017-11-05 06:17] jogboms commented on #23
1. Adding FacebookActivity to the Manifest

[2017-11-05 06:18] jogboms commented on #23
2. `app.gradle`
[code]

Noticed there also wasn't need for this since its been added to the `include.gradle`

[2017-11-05 06:45] jogboms commented on #23
[code]

Can also be moved to an `Info.plist` within the plugin.

[2017-11-05 06:45] jogboms commented on #23
So less configuration for the plugin users

[2017-11-17 10:56] jogboms commented on #23
@mkloubert are you still available??

[2017-11-17 23:14] mkloubert commented on #23
yes

[2017-11-17 23:23] jogboms commented on #23
So what do you say to it?

[2017-11-17 23:33] mkloubert commented on #23
I will take a look when I am at home again tomorrow.

[2017-11-18 23:41] mkloubert commented on #23
Looks great! I think we can merge this branch to the [master](https://github.com/mkloubert/nativescript-social-login).

Before we release, we should set the version number to 2, or better 3 to indicate that we a plugin which runs with NativeScript 3+ and updated SDKs.

[2017-11-20 00:20] jogboms commented on #23
@mkloubert ended with a version `3.0.2` after a hard-days work. Also moved the code base to Typescript.

[2017-11-20 00:20] #23 closed

[2017-11-20 00:21] mkloubert commented on #23
@jogboms

Great work! Thank you very much! :-)

[2017-11-20 00:22] jogboms commented on #12
@ezequielzacca could you try and see if the issue still persist with the latest build?
remember to clear `platforms` after update.

[2017-11-20 00:23] jogboms commented on #23
You are welcome. I use it too, so i literally had no other choice :);

[2017-11-20 00:26] jogboms commented on #7
[code]

[2017-11-20 00:26] #7 closed

[2017-11-20 00:26] #5 closed

[2017-11-20 00:26] #1 closed

[2017-11-20 00:27] jogboms commented on #13
@raphaelratuczne could you try this out with the latest build?

[2017-11-20 00:27] #13 closed

[2017-11-24 11:32] pedromareis opened #26 "Issue getting the Google authToken"
Hello guys,
I had an issue with the latest version of the plugin (3.0.2) which didn't allow me to get an authToken using the Google Login.
Basically my init data (configurations) for google was being overrided by the default configurations instead of merged.
I've solved it using an older version of the plugin (1.8.1) and using this:
[code]

Hope you guys could fix it in the next versions of the pl

[2017-11-24 11:53] jogboms commented on #26
@pedromareis thanks for reporting this.
By default, if `isRequestAuthCode` is not passed in the config, it is set to false.
Can you confirm that you added it as a parameter to the config object?

[2017-11-24 12:04] pedromareis commented on #26
@jogboms Yes, I've tried that and got the same error. I've also tried to add more parameters like `test: "this is a test"` and while debugging when the plugin merged my configurations with the default ones all the data I've added was gone.

[2017-11-24 13:35] jogboms commented on #26
If i may, Could you try running your configurations against the demo app?

On Nov 24, 2017 1:04 PM, "pedromareis" <notifications@github.com> wrote:

@jogboms <https://github.com/jogboms> Yes, I've tried that and got the same
error. I've also tried to add more parameters like test: "this is a test"
and while debugging when the plugin merged my configurations with the
default ones all the data I've

[2017-11-24 14:27] pedromareis commented on #26
Yeap, same issue...

![screenshot_1511533533](https://user-images.githubusercontent.com/16105597/33214362-8e95b28c-d123-11e7-83a5-3161126f9f44.png)
![screenshot_1511533537](https://user-images.githubusercontent.com/16105597/33214363-8eb6ec36-d123-11e7-9a7d-45f669798ab4.png)

[2017-11-24 14:33] pedromareis commented on #26
And using an older version of the plugin (the 1.8.1) it works! 😛
![screenshot_1511533793](https://user-images.githubusercontent.com/16105597/33214536-473e0f96-d124-11e7-805b-8d1bdca6b501.png)

[2017-11-24 15:15] jogboms commented on #26
Thanks @pedromareis. I'm on it now.

[2017-11-24 16:00] #26 closed

[2017-11-24 16:03] jogboms commented on #26
@pedromareis could you confirm if installing `@next` solves this issue?

[2017-11-24 16:13] pedromareis commented on #26
@jogboms It's working, thank you! 😄

[2017-11-24 16:20] jogboms commented on #26
Awesome! Thanks. 👍

[2017-11-24 16:35] pedromareis opened #27 "Login causes trouble on opening other activities like Camera"
Hello again,
I think I've found another bug on the plugin (the latest version 3.0.3). Basically after I login with both fb and google, every time I try to open the Camera (to use the barcode-scanner plugin) or the Gallery (using the image-picker plugin) it has a strange behaviour, when I get a response from those plugins (ex: when I get the image I select with the plugin) it assumes the callback f

[2017-11-24 16:41] jogboms commented on #27
If I get you correctly, the callback you attached to the social-login is being called whenever a result is returned from these plugins? @pedromareis

[2017-11-24 17:13] jogboms commented on #27
@pedromareis could you confirm if the `@next` build solves this issue for you?

[2017-11-24 17:27] pedromareis commented on #27
@jogboms About the first question you've asked, the answer is yes, the callback of the social-login is being called whenever I use the other plugins.
Relative to the second one, I've tried it (nativescript-social-login@3.0.5-24-11-17.6-12) and the issue is still there.

[2017-11-24 17:40] jogboms commented on #27
Okay @pedromareis. I'm still on it.

[2017-11-24 17:46] jogboms commented on #27
@pedromareis i just push a fix to `@next` again

[2017-11-24 17:54] pedromareis commented on #27
@jogboms still not working 😭

[2017-11-24 17:57] jogboms commented on #27
That's strange... could you clear your platforms?

[2017-11-24 18:02] pedromareis commented on #27
@jogboms Okay, it's working!! Thank you so much, you rock! 😄😄😄

[2017-11-24 18:13] #27 closed

[2017-11-30 09:11] jogboms commented on #12
Closing due to inactivity.

[2017-11-30 09:11] #12 closed

[2017-12-13 11:03] Willis0826 opened #29 "IOS Google Login no response"
Dear teams,

I am a newbie in NativeScript, I follow the instruction to set up my Application.
**The google and facebook login works prefect in Android**, It's will open the correct page to handle the login process, and once the process be done I will get the user result from callback !
However, when I jump into **IOS, the google login is out of function**, after I called `SocialLogin.loginWithGoo

[2017-12-13 11:09] jogboms commented on #29
Thanks for reporting this issue. Could i suggest you try out the demo application included? It shows how this plugin can be implemented on both iOS and Android.

[2017-12-13 14:46] Willis0826 commented on #29
@jogboms Thank you for suggestion, I will try the demo tomorrow, hope I can solve the problem which I faced.

[2017-12-14 03:47] Willis0826 commented on #29
@jogboms I had tried the demo this morning. Unfortunately, **the demo running on IOS failed to process google login**, but the facebook login works perfectly.

Here is my testing  result :
IOS : 10.2.1、11.2
nativescript-social-login: "^3.0.5"
tns-platform-declarations: "^3.3.0"
tns-core-modules: "3.2.0"

The console didn't log any error message, once I clicked the "Login with Google", the applicat

[2017-12-14 07:07] jogboms commented on #29
Okay @Willis0826. I'd check it out.

[2017-12-14 08:44] jogboms commented on #29
@Willis0826 could you try installing the `@next` version and confirm if its working for you?

[2017-12-14 09:09] Willis0826 commented on #29
@jogboms Spectacular! After I used `npm install --save nativescript-social-login@next` everything works perfectly!

**Now, the plugin can running  on my iPhone(10.2.1)** without any error! Thank you for great help.

[2017-12-14 09:58] jogboms commented on #29
Awesome. Thanks for your feedbacks @Willis0826

[2017-12-14 09:58] #29 closed

[2017-12-15 12:51] nicHoch opened #30 "login function can only called once in Android"
Using the login functions (loginWithGoogle/FB) is working fine. But i can only call it once.
Not the same login provider or any other again.

  "tns-android": {
      "version": "3.3.1"
    }

 "nativescript-social-login": "^3.0.6",

Then I got following error:

(loginWithGoogle()): Starting activity for result...
JS: [nativescript-social-login]: (loginWithGoogle()): [ERROR] runOnUiThread(): Error

[2017-12-15 14:28] jogboms commented on #30
@nicHoch Thanks for reporting this error.
Can you please confirm if this is also reproducible in the demo app?

[2017-12-18 08:47] Willis0826 commented on #29
Recently, Our team used this package to implement the login function in our Application.
And we found a problem is : **The function `invokeLoginCallbackForGoogle` which is in the `SocialLogin.ios.js` didn't pass the photo property**, I am not sure if this is a bug or not.

However, we using the `user.profile.imageURLWithDimension(100)` to get the user photo url, and then pass it to `googleSuccessC

[2017-12-18 18:28] nicHoch opened #31 "absolut path in demo: package.json"
should be changed to:

[code]

[2017-12-18 18:56] jogboms commented on #31
@nicHoch Thanks for reporting this.
Borrowing from the official plugin seed, the demo app should be initiated using the npm scripts within `plugin` directory e.g `demo.android` or `demo.ios`.

[2017-12-18 18:56] #31 closed

[2017-12-18 19:19] nicHoch commented on #30
i did not get any error message in the demo but after login with google i can not login with FB unless i init again.
is that by intention?

[2017-12-18 20:00] jogboms commented on #30
Are you using the Plain Nativescript or w/ Angular?

[2017-12-31 02:15] raman-nbg commented on #30
I have the same issue here. Using zone did not help.
This issue also occurs when the user closes the Facebook login screen with tapping on the "x". After that the login screen can not be opened again. But I can't see any errors like @nicHoch.

[2017-12-31 11:42] jogboms commented on #30
@raman-nbg could you try this fix for android?

[code]

[2017-12-31 16:12] raman-nbg commented on #30
@jogboms  that worked! Thanks! 👍

Can you explain why I have to invoke init again? I already initialized SocialLogin on the activityCreatedEvent. What happens here?

[code]

Is there any difference in `SocialLogin.init()` with importing `import SocialLogin = required("nativescript-social-login");` and `init()` with importing from `import { init } from "nativescript-social-login";`?

[2017-12-31 16:19] jogboms commented on #30
@raman-nbg The difference is in the events `activityCreatedEvent` and `activityResumedEvent`. The former only being called once but since a new activity is initialized ie facebook, the `init` function is never called again since, at that point, the foreground Activity is only suspended and then resumed.

[2017-12-31 16:19] #30 closed

[2018-01-03 02:43] arielnmz opened #32 "duplicate entry: com/google/zxing/BarcodeFormat.class"
This plugin collides directly with [nativescript-barcode-scanner](https://github.com/EddyVerbruggen/nativescript-barcodescanner) because of its dependency on `com.google.zxing`, which means you can't have both installed at the same time, otherwise the build fails with the following error:

[code]

Now, enabling multidex won't work as it will just fail because of duplicate classes:

[code]

The sol

[2018-01-03 08:28] jogboms commented on #32
Thanks @arielnmz 🌮

I'd run a test on this and apply the fix to the npm release.

[2018-01-03 10:29] jogboms commented on #32
@arielnmz I review the issue and realized facebook added the dependency with the latest release.

You could try one of two things within your `app.gradle`.

Update your dependencies
[code]

Or force facebook to a particular version
[code]

[2018-01-03 16:23] arielnmz commented on #32
Regarding the first solution, the build process is apparently ignoring the `compile(...) { exclude group ... }` statement on `app.gradle`, as it has no effect on the build (the duplicated class error still shows up), moving it to inside the `android` block doesn't work either. The second solution, manually specifying a Facebook SDK version, works though.

And for reference, [starting from version

[2018-01-04 03:08] #32 closed

[2018-01-04 04:38] jdmcnair opened #33 "Demo has broken reference to local, user specific directory inside package.json"
https://github.com/mkloubert/nativescript-social-login/blob/1934b567904e0586c730e6077aafed87860105ac/demo/package.json#L16

[2018-01-04 08:01] jogboms commented on #33
@jdmcnair please see #31

[2018-01-04 08:01] #33 closed

[2018-01-04 16:30] jdmcnair commented on #31
OK, so it looks like I just needed to change that to point to the `/src` directory.

[2018-01-05 10:19] jogboms commented on #31
oh @jdmcnair. Yeah you could do that, but its most preferred to run the demo from within the `src` folder using `npm run demo.android` or `npm run demo.ios` for the first time. This way, you don't have to bother about paths.

[2018-01-07 07:52] govi2010 opened #34 "Tns run not runnig."
![image](https://user-images.githubusercontent.com/8776031/34647650-b7d72642-f3ad-11e7-935d-0c27b0f65c62.png)

[2018-01-08 11:53] jogboms commented on #34
@govi2010 can you add more info to it.

[2018-02-12 07:23] saiprasath-swaas commented on #34
The same error iam getting, **Cannot find namespace 'android'. in SocialLogin-common.d.ts file**.
I have following configuration in my project:
tns: ^3.4.2
nativescript-social-login: ^3.0.5
npm: ^5.6.0

I have installed android platform via **tns platform add android**
Clarify Thanks.

[2018-02-12 21:28] #34 closed

[2018-02-13 08:50] sushilparajuli opened #36 "Will this plugin work for Weex project"

[2018-02-13 22:44] jogboms commented on #36
Sorry, @sushilparajuli. This plugin is only supported by the Nativescript environment.

[2018-02-13 22:44] #36 closed

[2018-02-14 16:37] ntaylor2 opened #37 "ERROR TypeError: Cannot read property 'GoogleSignInOptions' of undefined"
Hi, I'm working on a Nativescript (Angular) project using the nativescript-social-login plugin for simple Google authentication on android.  Currently running NS 3.4.2 and social-login 3.0.8.

I have walked through the setup steps on your getting started page, but am getting the following error when calling SocialLogin.loginWithGoogle

ERROR TypeError: Cannot read property 'GoogleSignInOptions' of

[2018-02-15 06:52] saiprasath-swaas commented on #4
Hello @jogboms  .When i login with twitter.
I get the following error.
![sociallogintwiiter](https://user-images.githubusercontent.com/29597009/36244124-eae078e8-124a-11e8-9806-5e29bd3574d7.png)

[2018-02-15 17:36] jogboms commented on #4
@saiprasath-swaas Sadly the implementation for Twitter is not supported yet.

[2018-02-15 17:38] jogboms commented on #37
@ntaylor2 Do you mean your codebase doesn't have any reference to `GoogleSignInOptions`?

[2018-02-15 18:11] ntaylor2 commented on #37
Yes, it appears that's the case.  When debugging I can see that com.google.android.gms.auth.api package is defined but the com.google.android.gms.auth.api.signin package is not.

[2018-02-16 13:47] jogboms commented on #37
@ntaylor2 I really don't follow. Could you confirm if this issue persists using the demo app? or can you create a repo reproducing the same issue?

[2018-02-16 17:07] ntaylor2 commented on #37
@jogboms You can close this issue.  When I started building a sample app to show you the issue, it magically started working.  I love it when that happens :)

[2018-02-16 17:07] #37 closed

[2018-02-23 01:39] ntaylor2 opened #38 "IOS Login not working"
Hi,

I have a NativeScript application set up that is using the following:
nativescript-social-login:  3.0.8
tns-core-modules: 3.4.0
tns-ios: 3.4.1
iOS Simulator: iPhone X w/ iOS version 11.2

I followed all of the instructions to set up logging in with Google, but when I call loginWithGoogle(..) the app crashes.  The only relevant line in the iOS simulator log I can find is the following:

Feb 22

[2018-02-23 13:38] jogboms commented on #38
@ntaylor2 Thanks for reporting this. But could you confirm if the demo app run in your environment?

[2018-02-23 15:32] ntaylor2 commented on #38
@jogboms The demo app is showing an error in my local environment.

Domain=com.google.GIDSignIn
Code=-2
UserInfo=(NSLocalizedDescription=keychain error)

Am I doing something incorrect when running the demo app?  I added a server client ID for Google on the setup screen.

[2018-02-23 21:09] jogboms commented on #38
@ntaylor2 I have a feeling that has to do with xcode and keychains. I saw a similar issue [here](https://github.com/devfd/react-native-google-signin/issues/129#issuecomment-261480487). Take a look and see if it helps

[2018-02-27 17:25] NikicaAsanin opened #39 "IOS Facebook Login Problem"
I have problem with IOS login with Facebook. Android works normally but IOS is not.
I get this error on call function:
**CONSOLE ERROR [native code]: ERROR TypeError: undefined is not an object (evaluating 'Login.loginWithProvider')
CONSOLE ERROR [native code]: ERROR CONTEXT [object Object]**

I am using your example and also in main.ts or app.ts file  **const errorRef = new interop.Reference();**

[2018-02-27 20:58] derekkite commented on #39
Look in the demo app.
https://github.com/mkloubert/nativescript-social-login/blob/master/demo/package.json#L18
and
https://github.com/mkloubert/nativescript-social-login/blob/master/demo/references.d.ts
copy the references.d.ts and install the linked module using npm.

[2018-02-28 14:17] NikicaAsanin commented on #39
@derekkite Thanks for replay, but I pass threw all demo app files and configuration and nothing still on FB login - **CONSOLE ERROR [native code]: ERROR TypeError: undefined is not an object (evaluating 'Login.loginWithProvider')**

[2018-02-28 14:30] NikicaAsanin commented on #39
Here is my code below.

**Main.ts**
`import { platformNativeScriptDynamic } from "nativescript-angular/platform";
import { AppModule } from "./app.module";

import * as application from "application";
import * as platform from "platform";
import * as utils from "utils/utils";
import Application = require("application");
import SocialLogin = require("nativescript-social-login");
declare var android

[2018-02-28 14:33] NikicaAsanin commented on #39
And Android works perfect with Facebook and this code above.

[2018-02-28 16:57] NikicaAsanin commented on #39
Solve problem , I didn't see that I have only call SocialLogin init or android so I did it for IOS too and it works now.
`ngOnInit() {
    if (Application.android) {
      Application.android.on(Application.AndroidApplication.activityResumedEvent, () => {
        let result = SocialLogin.init();
      });
    } else if (Application.ios) {
      let result = SocialLogin.init();
    }

  }`

[2018-02-28 16:59] #39 closed

[2018-03-01 13:25] NikicaAsanin commented on #29
Problem with GoogleLogin on iOS , android works perfectly. On button click I get log login with google..
and then nothing happen, no google login popup. help?

[2018-03-01 14:52] NikicaAsanin commented on #38
Same problem here with google login.

[2018-03-02 16:29] jogboms commented on #38
@NikicaAsanin can you also see [here](https://github.com/devfd/react-native-google-signin/issues/129#issuecomment-261480487)?

[2018-03-16 08:59] johnRosalin opened #40 "Facebook clearSession not working"
I have this code to clear facebook session every time I run the application
`SocialLogin.init({
            facebook: {
                clearSession: true
            }
        });`
but this does not seem to clear the session, when I try to login with facebook again, It will automatically login with the previous account that I used.

[2018-03-19 15:32] the1schwartz opened #41 "Why is WRITE_EXTERNAL_STORAGE permission needed?"
It is listed with protection level [dangerous](https://developer.android.com/reference/android/Manifest.permission.html#WRITE_EXTERNAL_STORAGE). Why is it needed for Android builds?

[2018-03-20 04:32] SaraAbbood opened #42 "Unable to login with google"
I'm trying to implement Google login in my application, but whenever i use loginWithGoogle() it throws an error
[code]
After digging out the code i fownd that in this line of code (index.js line 57-59)
[code]
Login is actually undefined

Any solutions please?

[2018-03-20 05:11] SaraAbbood commented on #42
I found out that the init method was not being called

[2018-03-20 05:11] #42 closed

[2018-03-20 16:59] tomas-lsd opened #43 "Multiple dex files define Lcom/facebook/internal/Utility$GraphMeRequestWithCacheCallback"
In my project i work with javascript and the social login plugin is not working.
On build a project for android give me an error with the message:

[code]
Then, i added into app.gradle, in android -> defaultConfig this:
`multiDexEnabled true`
But then, on build project for android:
[code]

This is the package.json:
[code]

tns info:
[code]

app.gradle:
[code]

[2018-03-20 19:01] tomas-lsd commented on #43
Sorry, i tried to delete this line
`compile 'com.facebook.android:facebook-android-sdk:4.6.0'`
from app.gradle
And it works correctly.

[2018-03-20 19:01] #43 closed

[2018-03-21 13:36] webleaf commented on #41
I have same question.

[2018-04-02 12:46] chriso86 opened #44 "Readme installation instructions issue"
Hi,

I've started installing this plugin using the installation notes at:
https://nativescript-sociallogin.readme.io/

Issue:

First, a syntax error:

[code]

Second, onActivityCreated does not exist on type AndroidApplication.
Does this not work out of the box with TypeScript? It's tagged as a TypeScript project on GitHub...

I think it may need to be something like:
[code]

I have tried looking

[2018-04-02 22:08] jogboms commented on #44
Thanks @chriso86, corrections would be made to the README. 👍

[2018-04-02 22:12] #44 closed

[2018-04-05 07:55] johnRosalin commented on #26
I am getting a similar error. The authToken is null however, the authCode has data in it.
This is the response that I am getting:

  "provider":"google",
  "code":0,
  "id":"xxxxxxxxxxxxxxxxxxxxx",
  "photo":{},
  "authToken":null,
  "authCode":"4/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-aPPFRSBwKMq2rftduwwghfeeKoqzIvAI-IfcRd6NJY",
  "userToken":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "displayN

[2018-04-06 09:10] jogboms commented on #26
@johnRosalin could you try your current configuration with the demo app, and see what happens?

[2018-04-10 19:35] exeleon opened #45 "Failed to build with tns-android 4.0.0"
I have:
nativescript-social-login: 3.0.11
nativescript-cli: 4.0.0
tns-android: 4.0.0

Trying to build with tns-android version 4.0.0 fails with this:

Failed to build plugin nativescript-social-login :
Error: Command failed: ./gradlew -p /home/mlopera/AA/mobile.ns/platforms/tempPlugin/nativescript_social_login assembleRelease -PcompileSdk=android-27 -PbuildToolsVersion=27.0.3 -PsupportVersion=26.0

[2018-04-11 14:49] jogboms commented on #45
@exeleon Thanks for pointing this out.
What version of `tns-android` are you currently running on?

[2018-04-11 14:52] jogboms commented on #45
Haven't worked out support for `4.0.0` yet. Would see a way to test it out myself.
Just watch this space for any developments.

[2018-04-11 20:58] exeleon commented on #45
@jogboms I think the issue is around the gradle plugin updated in ns 4.0.0. Thank you in advance for your support!

[2018-04-11 21:24] exeleon commented on #45
The android official doc provides info about some [known issues](https://developer.android.com/studio/build/gradle-plugin-3-0-0-migration.html#known_issues). I suspect this is the cause:

[2018-04-22 12:09] anaszgh opened #47 "Failed to build after upgrading to tns@4.0.0"
I have upgraded the project to tns version 4.0.0, after that the tns run android command stopped working with the following error

[code]

[2018-04-23 15:42] jogboms commented on #47
Hello @anaszgh.
What version of `nativescript-social-login` are you running on?
Use the latest version.

[2018-04-25 05:52] jorgerb79 commented on #47
I have the same issue.

I have created a new project using tns-cli 4.0.0, and added the lastest version of the plugin. The error message is exactly the same.

[2018-04-25 10:42] jogboms commented on #47
@anaszgh did you follow the new instructions in the README?

[2018-04-25 12:30] nicHoch commented on #47
I have the same issue:

Plugin: nativescript-social-login@4.0.0
OS: Android tns-android : 4.0.1
"tns-core-modules": "^4.0.0"

[2018-04-25 13:16] jogboms commented on #47
@nicHoch can you also confirm if you followed the new instructions on the README?

[2018-04-27 02:00] jorgerb79 commented on #47
I followed the README file. Also I upgraded a working project from version 3.0.8 (tns-core-modules 3.4.1) to 4.0.0 (tns-core-modules: 4.0.0) and it stopped to compile displaying the same error.

[2018-04-27 09:47] jogboms commented on #47
@jorgerb79 i really don't see why it shouldn't. How about the demo app?

[2018-04-27 13:31] anireddysaikumar opened #48 "app is not responding when try to add a new account in google+ Login"
I am trying to implement login with google plus, it is working fine when I login with already existing gmail accounts(in device), when I try to add a new account in google users list my app is not responding.

if anyone got this issue fixed please let me know what caused this issue and how to fix it.

Thanks in advace

[2018-04-28 20:35] fumpierrez commented on #47
I'm having the exact same issue (same error output), unfortunately I can't provide much details as I'm completely new to nativescript (installed it today so on latest versions of everything). I followed the readme and added the config to graddle. I'm using the vuejs template but ran npm run clean like for other plugins, if that matters. I'll run the demo when I find out how

[2018-04-28 20:37] valeraf commented on #38
Hi,
I have same problem with login with Google,
demo app is working, had to change something in package.json, but it doesn't really matters

After hours of trials, I give up ...

Here is my package.json
[code]

info.plist file

[code]

GoogleService-Info.plist downloaded from google console:
[code]

Login to Facebook - working
Login to Google - not

Could you please check/recommend me something ?

[2018-04-29 07:32] jogboms commented on #38
@valeraf If you have a similar issue, can you also see [here](https://github.com/devfd/react-native-google-signin/issues/129#issuecomment-261480487)?

[2018-05-01 16:42] valeraf commented on #38
@jogboms sure, i Checked there too.
I didn't understand how to enable keychain sharing
Also checked your demo app, and in your app, from what I can see, Keychain sharing is disabled.
So maybe not the case ?

[2018-05-02 14:56] jogboms commented on #38
Oh. Okay.

[2018-05-06 00:59] jorgerb79 commented on #47
@jogboms, I tried running the demo, and the error is exactly the same. Does the demo require changes to run properly?

[2018-05-08 10:49] NikicaAsanin opened #49 "Nativescript tns@4.0.0 Android Error on build"
**Still getting error above, I have everything up to date and I get this error on android -**

`Unable to apply changes on device: 520069a6f47cc4b3. Error is: Failed to build plugin nativescript-social-login :
Error: Command failed: ./gradlew -p /Users/nikicaasanin/Documents/Strawberry/strawberry-mobile-app/platforms/tempPlugin/nativescript_social_login assembleRelease -PcompileSdk=android-27 -Pbu

[2018-05-09 02:31] juliancesar commented on #45
I have the same issue.

[2018-05-09 07:12] anaszgh commented on #47
@jogboms Yes, i have tried to follow the new instructions, and also used the latest version of the plugin, but the error is still the same.

[2018-05-09 15:39] jorgerb79 commented on #49
I've found that removing:

[code]

from include.gradle in the plugin, fixes the issue in my enironment. I hope this can give a clue to fix this issue.

[2018-05-09 20:47] mdconaway commented on #38
Is there a distinct place in the social login code that is known to be causing this issue?  I am trying to port an Android app to iOS, and google login fails. (needed for anything else in the app to work)

If it is being caused by key sharing, is there a way to enable key sharing as part of the nativescript ios configuration?

I am currently running XCode 9.3.

[2018-05-09 21:37] jogboms commented on #38
@mdconaway @valeraf @NikicaAsanin @ntaylor2  honestly, I really don't see why it should fail hence why I've labeled this issue as help is needed since I use this in an app in production and everything works as expected. Even running the demo app works as expected on my machine. There hasn't been any way to debug these new issues as I have also not had any free time of late.

[2018-05-09 21:38] jogboms commented on #49
@NikicaAsanin could you try what @jorgerb79 suggested?

[2018-05-09 21:39] jogboms commented on #45
@NikicaAsanin @juliancesar could you try the solution proposed by @exeleon and see if it works for you so as to publish a hot fix?

[2018-05-09 21:46] jogboms commented on #49
#47

[2018-05-09 21:48] jogboms commented on #47
@anaszgh @fumpierrez @nicHoch could you see here? #49

[2018-05-09 21:49] #49 closed

[2018-05-09 21:49] #47 closed

[2018-05-10 10:38] NikicaAsanin commented on #49
@jogboms I sume this might fix the problem but every time I install node_modules it's going to rewrite the include.gradle

[2018-05-10 16:09] jogboms commented on #49
Yeah @NikicaAsanin. I know this but let continue this discussion on the open thread #47

[2018-05-12 18:28] ssajith commented on #45
@jogboms Solution proposed by @exeleon works for me
I have naticescript-cli@4.0.1, tns-android@4.0.1, nativescript-social-login@4.0.0

[2018-05-13 08:45] jogboms commented on #45
@NikicaAsanin @juliancesar @exeleon @ssajith a new version has been published with a fix for this issue.

@ssajith could you please open a new issue so we can track that from there?

[2018-05-13 08:45] #45 closed

[2018-05-13 10:00] next-apps opened #50 "Google and FB login fails on tns-android 4.0.1"
I have:
nativescript-social-login: 4.0.1
nativescript-cli: 4.0.1
tns-android: 4.0.1

Build was successful, however when I try to call loginWithFacebook or loginWithGoogle it doesn't work. In case of Google, it shows the "Choose account" popup, but after choosing account nothing happens. Where as facebook dont even show any dialog.

[2018-05-13 10:03] next-apps commented on #45
@jogboms Done. Opened issue #50

[2018-05-13 16:44] next-apps commented on #50
Added logger and got the following

`JS: --  doGoogleLogin --`
`JS: [nativescript-social-login]: (): Provider: google`
`JS: [nativescript-social-login]: (): Will use Google sign in...`
`JS: [nativescript-social-login]: (loginWithGoogle()): Starting activity for result...`
`JS: [nativescript-social-login]: (onActivityResult()): Cancelled`
`JS: [nativescript-social-login]: (onActivityResult()): resu

[2018-05-13 18:44] next-apps commented on #50
This issue was because of a name change in the AppId. Fixed it by changing the AppId in Google and Facebook App Settings page.

[2018-05-13 18:44] #50 closed, assigned to nobody

[2018-05-19 04:49] luishdez87 opened #51 "cant build android when set up ios"
if i build android alone doesnt give problems, but when i build ios, then the android platform stops build, this is my log:

ibuteMatchingCache$1@2aa11fcc to support-v4.aar (com.android.support:support-v4:25.3.1)' started
23:47:17.558 [DEBUG] [org.gradle.internal.progress.DefaultBuildOperationExecutor] Completing Build operation 'Apply org.gradle.api.internal.artifacts.transform.VariantAttributeMa

[2018-05-25 12:17] valeraf commented on #38
@mdconaway @valeraf @NikicaAsanin @ntaylor2 @jogboms
Probably found a way to make it work,
1. added this [hook](https://github.com/Essent/nativescript-custom-entitlements)
2. created `app.entitlements` file in the `app/App_Resources/iOS folder`
which contains:

[code]

After that app stoped crashing on Google SignIn.

[2018-05-25 13:14] nmandyam commented on #50
I have exactly the same issue - loginWithGoogle responds with just the provider, no other info. I've checked the mobile app's SHA1 fingerprint and it's identical in Firebase. The App ID (i.e. the Project Number) from Firebase Console is correct in the google-services.json of the mobile app. The package-name is also identical in both places. But I still don't get the login-result.
I'm not yet tryin

[2018-05-25 16:18] next-apps commented on #50
Could you please try to delete the contents of the `platforms` folder and build again.

[2018-05-27 03:13] nmandyam commented on #50
Did that, no change. Cleaned out node_modules and tried again, no change. And the facebook connector does not even come up - the call to loginWithFacebook crashes the app.
Not sure if this is the place for this other (related?) issue: trying to debug the app crashes it - stopping the debugger at the call to loginWithGoogle or loginWithFacebook crashes the app. Going past the call to its return, in

[2018-05-30 03:40] gogoout commented on #38
@valeraf I've installed the hook and also added the app.entitlements. Seems the app still crashing on Google SignIn. Did you have any other changes?

[2018-06-12 00:10] danielnakasato commented on #50
@ssajith Is it related to a change made by you or something that google changed?

[2018-06-12 09:12] priti-nimble opened #52 "Login issue with google"
Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'You must specify |clientID| for |GIDSignIn|'

on click
[code]
and in main.ts file we inclue
[code]

but still i am getting Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'You must specify |clientID| for |GIDSignIn|'
this error please suggest me

[2018-06-13 06:10] jogboms commented on #52
@priti-nimble Did you add the required Setting in your *info.plist*?

[2018-06-13 06:22] priti-nimble commented on #52
yes  i added required setting in info.plist

On Wed, Jun 13, 2018 at 11:41 AM, Jeremiah Ogbomo <notifications@github.com>
wrote:

--
PRITI GAMOT WEB DEVELOPER NIMBLECHAPPS.COM <http://nimblechapps.com/>
<%2802%29%206962%201455>
twitter <https://twitter.com/nimblechapps>
|
google <https://plus.google.com/+Nimblechapps>
|
facebook <https://www.facebook.com/nimblechapps>
|
linkedin <https://www.linke

[2018-06-13 07:19] jogboms commented on #52
Okay. @priti-nimble have you tried out the demo?

[2018-06-13 07:29] priti-nimble commented on #52
this is the content of info.plist file

[code]

GoogleService-Info.plist

I also have put this file inside `App_Resources/ios/`

[code]

[2018-06-13 09:54] jogboms commented on #52
Its a bit odd because no one has experienced this issue yet, couldn't it be a step was missed. Since the login story has been confirmed to work on the demo project as well as others in production.
Could you take a minute to confirm if every configuration was done properly and accordingly?

[2018-06-13 12:05] priti-nimble commented on #52
yes every configuration was done

On Wed, Jun 13, 2018 at 3:24 PM, Jeremiah Ogbomo <notifications@github.com>
wrote:

--
PRITI GAMOT WEB DEVELOPER NIMBLECHAPPS.COM <http://nimblechapps.com/>
<%2802%29%206962%201455>
twitter <https://twitter.com/nimblechapps>
|
google <https://plus.google.com/+Nimblechapps>
|
facebook <https://www.facebook.com/nimblechapps>
|
linkedin <https://www.linkedin.com/comp

[2018-07-10 07:04] SugumarParthi opened #53 "When it will support for Twitter login ?"
Am using Javascript and xmal.
so i could not able to login with separate plugin. like eg: nativescript-twitter
If you have any other plugin to login with twitter let me know.

[2018-07-17 16:42] miguelopezv opened #54 "Plugin crash on login with Google iOS 11.4"
when trying to login/register I get the following error and the app crashes:

(comunicamobilens) Created Activity ID: 0x2778a, Description: send control actions
(comunicamobilens) Created Activity ID: 0x2778b, Description: send control actions
(AggregateDictionary) AggregateDictionary is not supported on this platform

tested on iOS 11.4, working with no problem with iOS 11.1 and 11.2

[2018-07-23 00:47] rohanrichards opened #55 "GoogleService-Info.plist not available at URL provided in readme"
As the title states, I cannot find a way to get the `GoogleService-Info.plist` file at the provided URL (https://developers.google.com/identity/sign-in/ios/start-integrating)

Am I doing this wrong, or has the Google documentation been changed?

I have also dug around on the Google console, all I can manage to find is a .json configuration file that contains the client ID and that's it.

[2018-07-23 01:03] rohanrichards opened #56 "interop is undefined"
I'm following the readme and am including the class definition in my main.ts file before bootstrapping (Nativescript, Angular, Typescript)

Initially there are many undefined variables, so I had to go and look at the example which shows you how to define them to satisfy TS. However one is left undefined:

      try {
        const errorRef = new interop.Reference(); //interop is undefined here

[2018-07-23 01:29] jogboms commented on #56
@rohanrichards That should fix it. But as a side note, you can install `tns-platform-declarations` so that can get native Type definitions.

[2018-07-23 01:29] #56 closed, assigned to nobody

[2018-07-23 01:31] rohanrichards commented on #56
@jogboms Thanks for the quick reply and recomendation. For future reference, if you dont mind what's the full command to install those TS definitions? Are they usually just an NPM module?

`npm i tns-platform-declarations`

[2018-07-23 02:53] rohanrichards opened #57 "Build failing with gradle errors"
I am having issues building after including this plugin. I first started with Dex errors,
[code]
I resolved those by making changes to app.gradle as recomended on various stack articles:
[code]

However I am now stuck on:
[code]

I have tried everything I can find on SO/google and simply can't get this to work. I have tried `tns platform clean android` and manually reinstalling the platforms.

[2018-07-23 10:05] jogboms commented on #56
Yes it is. do this instead `npm i -D tns-platform-declarations`

[2018-08-09 10:06] r04drunn3r commented on #55
I have been using the file in the [Demo](https://github.com/mkloubert/nativescript-social-login/blob/master/demo/app/App_Resources/iOS/GoogleService-Info.plist). Just replace your client id and bundle id there.

[2018-08-13 09:42] r04drunn3r opened #58 "[iOS] Unable to get idToken for Google sign in"
I am initializing the nativescript-social-login  using the following code inside my `login.component.ts`:

[code]

After selecting the account, I'm not getting `idToken`. Instead I'm getting an object which contains `serverAuthCode`.

`result.authToken` ends up being empty.

Even though I have given the `serverClientId` as my web application google client ID, it doesn't seem to make any difference

[2018-08-15 11:36] qeireal commented on #54
Same situation. Did you resolve the issue?

[2018-08-15 16:57] miguelopezv commented on #54
I wasn't unable to solve it so I had to delete it.

[2018-08-30 20:38] SalehMahmood commented on #39
No luck to me, anybody knows any solution?

[2018-09-16 12:17] anaszgh opened #59 "Failed to login with facebook"
Hello,

Whenever i try to login with facebook i receive i facebook message says
`You are not logged in: You are not logged in. Please log in and try again.`

Is there anything wrong in the configuration?

[2018-09-18 06:13] sagar1911 opened #60 "[Android][iOS] Not showing google accounts list when trying to login second time."
Hi,

When I'm trying Google login first time it is listing all the account present in the mobile but for second time the list is now displaying instead logging into the app.

Thanks.

[2018-09-18 06:32] #60 closed, assigned to nobody

[2018-10-10 13:27] andrea-spotsoftware commented on #1
@mkloubert i think i'm missing some steps.
Why it works correctly setting up a web application clientId and it's not working (return code: 1) with android client id, without setting up a secret?
I am confused

[2018-10-18 14:13] daguima95 opened #62 "[Android] Result.code 1 with Google"
When I try to login with Google on Android I always get result.code 1 the result.provider is google and the other fields are undefined.

Im working with the demo provided and the issue only happens with Android, in IOS is working fine.

[2018-10-21 07:22] mbd-fondative opened #63 "Login with Google not work"
hi friends,
when i use socialLogin.loginWithGoogle(result => { console.log( result ) } ) , no authToken generated in the result object , only this information generated :
` {   "provider": "google",   "code": 1 }`

thank you ;)

[2018-10-23 10:46] diadal opened #64 "Info.plist Error"
Info.plist: Merging CFBundleURLTypes: Property CFBundleTypeRole is required!

[2018-10-23 10:48] diadal commented on #63
[code]

[2018-10-23 13:59] mbd-fondative commented on #63
the result of this test is
     code: 0
    error: undefined
    userToken: marwen474@gmail.com
    displayName: null
    name: null null
    provider: google
    provider_id: 100651679503883989839

[2018-10-23 14:04] diadal commented on #63
if you need `authToken`  add this  `console.log("authToken: " + result.authToken);`

[2018-10-23 14:05] diadal commented on #64
I manage to fixed this

[2018-10-23 14:05] #64 closed, assigned to nobody

[2018-10-23 15:59] mbd-fondative commented on #63
the result of authToken  is null

[2018-10-23 17:58] diadal commented on #63
`authToken ` work with facebook and am not sure you need that with `userToken` & `provider_id` you are good to go with

[2018-10-30 12:00] LelantosTital opened #65 "Nativescript-Angular: plugin fails to initialize"
Hi,

I'm trying to use the nativescript-social-login plugin for google logins in my project (Android). However, the following error is outputted by the plugin upon intialization:

I have followed to explenation provided on: https://www.npmjs.com/package/nativescript-social-login

**AndroidManifest.xml**:

`<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/a

[2018-11-06 17:17] DSimonovski commented on #4
Anything yet?

[2018-11-16 14:53] exeleon opened #66 "googlePlayServicesVersion conflicting"
Hi, today I updated NS 5.0 and the build process failed with the following error:

Because this line in the include.gradle:

`def googlePlayServicesVersion = project.hasProperty('googlePlayServicesVersion') ? project.googlePlayServicesVersion : '10.2.6'`

I am using other plugins like nativescript-plugin-firebase which is using googlePlayServicesVersion = 16.0.1 and my app.gradle is using:

`proje

[2018-11-29 10:50] mbd-fondative commented on #26
how to install @next and why ??
thank you ..

[2018-11-29 11:24] mbd-fondative commented on #26
how to install @next please
thank you...

[2018-11-30 23:39] jogboms commented on #26
@Marwen238 Soory for the delay, @next is the latest version, no need installing @next. Use the latest version.

[2018-12-12 16:30] lettertoamit opened #67 "I am getting this error " undefined variable FBSDKLoginManager""
Can't find variable: FBSDKApplicationDelegate,

app.js

The js code given  in https://github.com/mkloubert/nativescript-social-login#javascript .   not working  ,  i am working on nativescript( javascript ) without any framework like TS , angular or view.

[2018-12-28 16:02] hiperbou opened #68 "Can't get photo with Google Login when isRequestAuthCode is enabled"
When using isRequestAuthCode = true the result of the photo property is always null.
Tested on Android.

[2019-01-10 08:54] anaszgh commented on #4
Anything yet?

[2019-01-11 22:42] rhhansen commented on #67
Here is my version:
[code]

[2019-01-12 10:17] rhhansen commented on #57
Any updates i have the same issue... :/

[2019-01-17 12:26] rkuodys commented on #50
@nmandyam Have you eventually solved this issue? I'm facing the same error with FB login

[2019-01-17 14:00] nmandyam commented on #50
No, unfortunately not - I just walked away from Social Signup for that app.

On Thu, Jan 17, 2019 at 5:56 PM rkuodys <notifications@github.com> wrote:

--
Narasimhan (Kishore) Mandyam

[2019-01-18 12:27] lettertoamit commented on #67
really thank you for your reply , I will try it on . But I used nativescript-oauth2 plugin for now .

[2019-02-01 06:38] fabriek-huis commented on #4
+1 twitter support

[2019-02-02 14:10] jerbob92 opened #69 "Add warning about overriding the complete app delegate"
Some plugins (like the Firebase plugin) set some app delegate methods.
In the readme of this plugin, the suggestion is to override the complete delegate, this is dangerous as it breaks those other plugins completely.

We made our SocalLogin integration like this:
[code]

By this, we do not override when the delegate when it already exists, we just override the delegate methods we need to override

[2019-02-22 14:29] mauveine opened #70 "Instagram authentication"
Hello,

I think a very useful feature to be included in the future would be to include the instagram authentication example.
I think it will be very useful in the future and will be gratefully appreciated.

[2019-03-19 22:54] brndusic commented on #66
@exeleon have you found a way to solve this issue?

[2019-03-27 05:01] iamrsojitra opened #71 "[!] Google has been deprecated"
This plugin is working fine thanks for the plugin. Only one thing I have noticed now a days like when I am preparing ios plateforms after installing pods I am getting a warning message like

**[!] Google has been deprecated**

I have done some R & D and found that, In podfile I need to change **pod Google/SignIn** to **pod GoogleSignIn**

can you please check with your plugin?

[2019-04-20 20:20] vahidvdn opened #72 "App get freeze after Google auth succeeds"
First of all, thanks for this really cool plugin.
When Google auth succeeds and I get user data, app freezes for a few seconds. (about 4,5 seconds).
Any idea why this happens?

[2019-05-10 08:15] adeyems commented on #62
hi @daguima95.
I am having the same problem. Do you have a solution to this yet?

[2019-05-10 08:22] adeyems opened #75 "Getting result.error code of 1: cancelled."

[2019-05-10 08:22] adeyems opened #76 "Getting result.error code of 1: cancelled."
Can anyone walk me through the steps on Android? I will be glad.

[2019-05-13 11:02] vahidvdn opened #77 "authToken is corrupted: Cannot verify authToken in server"
Hi. I verify the token I get from google client. This works fine in browser and I can verify my tokens from my server. But the authToken which I get from this plugin cannot be verified by Google.

My sample token I get from **browser**:

`eyJhb...w` => 1222 character length

My sample token I get from **plugin**:

`eyJhb...g` => 1121 character length

It seems the `authToken` has been corrupted. A

[2019-05-13 11:54] vahidvdn commented on #77
My mistake by setting wrong value for `serverClientId`.

[2019-05-13 11:54] #77 closed, assigned to nobody

[2019-05-13 13:08] vahidvdn commented on #72
Thanks to the NativeScript `markingMode`, I don't have an issue by setting this flag. So, in src/package.json:

[code]

[2019-05-13 13:08] #72 closed, assigned to nobody

[2019-06-24 08:47] ghost commented on #52
I am facing the same issue did anyone found a solution to this?

[2019-06-25 17:52] AdrianBaqueiro commented on #76
same problem

[2019-06-25 18:35] adeyems commented on #76
I have it fixed.
Do you need help with it?

On Tue, 25 Jun 2019, 6:52 p.m. AdrianBaqueiro, <notifications@github.com>
wrote:

[2019-06-25 18:39] AdrianBaqueiro commented on #76
Yeah, i need help to fix them

[2019-06-25 18:44] adeyems commented on #76
The issue has to do with the signing.

Generate a new key on Firebase to sign it

On Tue, 25 Jun 2019, 7:39 p.m. AdrianBaqueiro, <notifications@github.com>
wrote:

[2019-06-25 18:44] AdrianBaqueiro commented on #76
i try but doesnt work

[2019-06-26 16:41] AdrianBaqueiro commented on #76
dont work for me /cry jajaja i search any alternative, thanks

[2019-06-26 17:58] adeyems commented on #76
Okay. All the best, buddy.

On Wed, 26 Jun 2019, 5:41 p.m. AdrianBaqueiro, <notifications@github.com>
wrote:

[2019-06-27 12:53] Tran9 commented on #66
I found the solution.
Create a file named 'before-plugins.gradle' on App_Ressources/Android and add project.ext.googlePlayServicesVersion = "16.0.+" on this file. (cf. App_Resources/Android/app.gradle line 9-10)

[2019-09-15 11:27] anaszgh opened #79 "App Crash With Android AppBundle"
When you create an Android App Bundle, the bundle will crash on all of the devices with the below error logged from Google Play

[code]

[2020-01-06 19:32] LuminousSilver opened #80 "Gradle build failing"
`Webpack compilation complete. Watching for file changes.
Webpack build done!
Built aar for nativescript-social-login
Chokidar raised event change for C:\Users\sullivti\Desktop\NativeScript Projects\vat\mobileapp\mobileapp\node_modules\nativescript-social-login\platforms\android\include.gradle.
Project successfully prepared (android)
Building project...
Gradle build...
         + setting applicati

[2020-03-19 02:20] vivek-aecor commented on #38
App crashing on google sign in. same issue
Same problem here with google login.

[2020-04-02 18:59] vivek-aecor commented on #54
Same situation. Did you resolve the issue?

[2020-04-08 04:48] vivek-aecor commented on #52
I'm facing the same issue did anyone found a solution to this?
Login issue with loginWithGoogle.
IOS APP crash on google login.

[2020-05-12 12:49] AhmedAdelAtta commented on #1
please help man, i did everything as instructed and still i get:
Calling Callback function with Results
JS: {
JS:   "provider": "google",
JS:   "code": 1
JS: }

with no results help me please

[2020-05-12 12:50] AhmedAdelAtta commented on #1
is it working for you for android google login?? i keep getting code 1

[2020-05-13 23:10] RustamAkimov commented on #76
got same issue in similar plugin... this part helped me - https://github.com/mkloubert/nativescript-social-login#setup-android-google-sign-in-for-debug-builds

[2020-10-22 16:50] karthikbalu commented on #67
I had the same issue and resolved it

add below lines before if (application.ios) {

`
declare class UIResponder {};
declare class UIApplicationDelegate{};
declare class FBSDKApplicationDelegate {
  static sharedInstance():any;
};

declare class GGLContext {
  static sharedInstance():any;
};

declare class GIDSignIn {
  static sharedInstance():any;
};

declare class FBSDKAppEvents{
  static activa

[2020-10-27 14:49] karthikbalu opened #81 "UIWebView deprecated iOS error"
Received an email from appstore we cannot use UIWebView anymore

ITMS-90809: Deprecated API Usage - New apps that use UIWebView are no longer accepted. Instead, use WKWebView for improved security and reliability. Learn more

[2020-11-02 14:28] odedBartov commented on #1
is this thread still open? i have exactly the same problem. i recieve  from the server
{
"provider": "google",
  "code": 1
}. i have a web application id for serverClientId and the client id for clientId

[2020-11-02 14:58] oded-bartov commented on #1
did you had any success?

[2020-11-02 18:15] dereekb commented on #1
Going to preface this with saying my app retrieves an Auth Code that I send to my server for authentication, so this might not be applicable to those who have a backend that trades the Auth Code for an Authorization Token.

I ran into this issue a while back, and spent a lot of time debugging it. It turned out to be a configuration issue with my project's OAuth on Google and not within the app at

[2020-11-03 07:04] odedBartov commented on #1
i did exatly like you ->
created OAuth 2.0 Client IDs of type web on google platform.
this is the code on my client:
[code]
when i call to GoogleLogin.login() i get this:
[code]